@model WebProje2.Models.Siniflar.Kategori
@{
    ViewBag.Title = "KategoriEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<br/>
<h2>Yeni Kategori Ekleme İşlemleri</h2>
<br />
<form class="form-group" method="post">
    @Html.TextBoxFor(x=>x.KategoriAd,new {@class="form-control" })
    <br/>
    <button class="btn btn-info" id="Btn1">Kaydet</button>
</form>
<script>
    $('#Btn1').click(function (){
        alert("Kategori başarılı bir şekilde eklendi")
    });
</script>
